# uVision

*.uvoptx
*.uvguix.*
*.LOG
*.OutputStatus
*.lst
*.dbgconf
*.scvd
*.TMP
UpgradeLog.htm

# SolidWorks backup files

~$*.*

# uVision project

**/MDK-ARM/firmware*/
**/MDK-ARM/Listings/
**/MDK-ARM/RTE/
**/MDK-ARM/DebugConfig/
**/*/Backup

# Altium

pcb/**/History/
pcb/**/__Previews/
__Previews/

# Altium OutJob

Status Report.Txt
**/Outputs/**/*.DRR
**/Outputs/**/*.REP
**/Outputs/**/*.apr
**/Outputs/**/*.LDP
**/Outputs/**/*.EXTREP
**/Outputs/**/*.APR_LIB


orders.txt


.DS_Store

xcuserdata/

*.xcscmblueprint
*.xccheckout