# uVision

*.uvoptx
*.uvguix.*
*.LOG
*.OutputStatus
*.lst
*.dbgconf
*.scvd
*.TMP
UpgradeLog.htm

# uVision project

firmware/MDK-ARM/firmware/
firmware/*/Backup

# Altium

pcb/volume_knob/History/
pcb/volume_knob/__Previews/
__Previews/

# Altium OutJob

Status Report.Txt
**/Outputs/**/*.DRR
**/Outputs/**/*.REP
**/Outputs/**/*.apr
**/Outputs/**/*.LDP
**/Outputs/**/*.EXTREP
**/Outputs/**/*.APR_LIB

