body {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

#header {
    background-color: burlywood;
    text-align: center;
    height: 70px;
}

#scan_button {
    margin-top: 10px;
}

#devices {
    width: 80%;
    height: 70%;
    position: fixed;
}

.device_container {
    background-color: yellow;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.device_row {
    background-color: cyan;
    display: flex;
}

.device_name {
    width: 200px;
}

.device_ui {
    display: flex;
}

.device_buttons {
    background-color: orange;
}

.device_controls {
    height: fit-content;
    padding-left: 20px;
    margin-bottom: 3px;
}

.memory_input {
    width: 28em;
    margin-top: 2px;
    font-family: monospace;
}

#status {
    font-family: monospace;
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 64px;
    margin-bottom: 20px;
    padding: 1px;
    border: solid;
    border-width: 1px;
    background-color: chartreuse;
}